.innerrow{
 position: relative;
}


.deletethisrow{
      position: absolute;
    top: 0;
    right: 0;
    background: #8a8a8a;
    border-radius: 2em;
    padding: .2em .7em;
    text-align: center;
    color: white;
    cursor: pointer;
}

.admin-logged-bar{
	color: white;
    right: 0;
    text-align: right;
    background: #2b2b3c;
        padding: .4em;
}
.admin-logged-bar li{
	list-style-type: none;
}

.admin-logged-bar li a{
	color: white;
}

.childspace{
    background: #edecf3;
    min-height: 2em;
    margin: .4em 0 0 0;
    padding: 1em;
}

#datos-menu td{
        font-weight: bold;
    color: #565667;
    cursor: pointer;
}

#datos-menu td:hover{
background: #fbfbfb;
}
#datos-menu td td{
    
    font-weight: 400;
    color: #565667;
    font-style: oblique;
}