 .adminBlock
 {    
 	background: rgba(255, 255, 255, 0.6);
 	padding: 1em;
 	border-radius: .5em;
 }

 .adminTitle
 { 
    padding-left: 1em;
 	text-align: left;
 }

 .table > thead > tr > th {
    padding-bottom: .5em;
    font-weight: bold;
        background: #f3f3f3;
}


.modal-backdrop.in {

    z-index: 0 !important;
}

.post-categories a{
	    padding: .5em;
    border: 1px solid;
    border-radius: 1em;
    margin: .5em;
}